* {
margin: 0;
padding: 0;
box-sizing: border-box;
width: 100%;
font-family: "Open Sans", sans-serif;
}

main {
    background-image: url("assets/gengar1.jpg");
    background-size: cover;
    display: flex;
    height: 100vh;
    backdrop-filter: blur;
}

.container-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 40px 60px;
    gap: 15px;
}

.container-left h1{
    font-size: 50px;

}

.container-right{

}

