* {
margin: 0;
padding: 0;
box-sizing: border-box;
width: 100%;
font-family: "Open Sans", sans-serif;
}

main {
    position: relative;
    display: flex;
    height: 100vh;
    overflow: hidden;
}

main::before{
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("assets/gengar2.jpg");
    background-size: cover;
    background-position: center;
    filter: blur(8px);
    z-index: -1;

}

.container-left{
    display: flex;
    justify-content: center;
    flex-direction: column;
    color: white;
    padding: 40px 60px;
    gap: 15px;
}

.container-left h1{
    font-size: 50px;
}

.container-right{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px 120px;
}

.teste-gratis {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 460px;
    height: 40px;
    background-color: rgb(215, 153, 228);
    text-decoration: none;
    color: white;
    border: solid;
    border-radius: 10px;
    border-color: white;
    margin-bottom: 25px;
}

.teste-gratis p{
    text-align: center;
}

.forms{
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 30px;
    background-color: rgb(247, 247, 247);
    box-sizing: border-box;
    border-radius: 10px;
    height: 450px;
    width: 560px;
   
}

.forms input{
    width: 500px;
}

button{
    display: ;
}